$bg-color: #EEEEEE; // grey 200
$card-boarder: #FFFFFF; // grey 50
$card-bg: #F5F5F5; // grey 100

html,
body{
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: $bg-color;

}

header{
  //margin: 10px;
  padding-top: 10px;
  padding-bottom:10px;
}
.card{
  background-color: $bg-color;
  width: 90vw;
  height: 90vh;
  border: solid $card-bg 10px;
}

//.nav-bar{
//padding: 1.5vw;
//  padding-top: 1vh;
//  padding-bottom: 1vh;
//  margin: 2px;
//  color:black;
// // background-color:transparent;
//
//
//}

