body{
  background-image: url("../images/white-texture2.jpg");
  background-attachment: fixed;
  background-size: 100vw;
  opacity: 0.5;
}
header{
  display: flex;
  background-color: white;
  margin:16px;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 2px #E0E0E0;

}
